PREFIX=.
SESSION_ID=Gifted~CqoxERBA#Ot6d-hwA5CmGsbpF40elApTY_3eV9raOMNCMEVl-O5I
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTOLIKE_STATUS=true
AUTOLIKE_EMOJI=💜
AUTO_REPLY_STATUS=true
STATUS_REPLY_MSG=✅️ Ongeri
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
OWNER_NUMBER=254713145618
SUDO_NUMBERS=254713145618
AUTO_AUDIO=false
AUTO_BLOCK=212,98,77
AUTO_REACT=false
TIME_ZONE=Africa/Nairobi
